name: release
on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed for creating releases

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for changelog generation

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.11"

      - name: Install dependencies
        run: python -m pip install --upgrade pip poetry && poetry install

      - name: Build package
        run: poetry build

      # Store build artifacts
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4.1.0
        with:
          name: dist
          path: dist/
          retention-days: 90 # How long to keep the artifacts

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          body: ${{ env.CHANGELOG }}
          files: |
            dist/*.whl
            dist/*.tar.gz
          draft: false
          generate_release_notes: true